<h1>Listing shots</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shots.each do |shot| %>
  <tr>
    <td><%= link_to 'Show', [@game, shot] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shot', new_game_shot_path(@game) %>
